/* grid */
:root {
  --grid-gutter: 1rem;
}

@media (min-width: 22.5rem) {
  :root {
    --grid-gutter: 1rem;
  }
}

@media (min-width: 48rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 80rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 90rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 120rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    /* Below 48rem, do not show more than 1 card in a row */
    grid-template-columns: repeat(auto-fit, minmax(calc((48rem - 2 * var(--section-margin) - var(--grid-gutter)) / 2), 1fr));
    grid-gap: var(--grid-gutter);
}

  .cards .cards-card-body {
    margin-top: var(--spacing-vertical-m);
  }

  .cards > ul > li img {
    width: 100%;
    object-fit: cover;
  }

 .press-cards .cards > ul {
     margin-top: var(--spacing-vertical-l);
     justify-content: center;
     height: auto;
     display: flex;
     flex-direction: column;
}

@media (min-width: 48rem) {
    .press-cards .cards > ul {
        height: 100%;
        flex-direction: row
    }
}

 .press-cards .cards > ul > li {
     flex: 0 1 auto;
     display: flex;
     flex-direction: column;
     width: auto;
     height: auto;
     box-sizing: content-box;
     border: 0;
     padding-bottom: 0;
     margin-top: 0;
     padding-left: var(--spacing-horizontal-l);
     padding-right: var(--spacing-horizontal-l);
 }

 .press-cards .cards > ul > li > .cards-card-image {
    display: none;
    margin-bottom: var(--spacing-vertical-l)
 }

 .press-cards .cards > ul > li > .cards-card-body {
    display: flex;
    flex-direction: column
 }

 .press-cards .cards .cards-item-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-vertical-s);
    margin-left: calc(var(--spacing-horizontal-xs) * -1);
    margin-right: calc(var(--spacing-horizontal-xs) * -1)
 }

 .press-cards .cards .cards-info-data {
    display: flex;
    flex-wrap: nowrap;
    margin-left: var(--spacing-horizontal-xs);
    margin-right: var(--spacing-horizontal-xs)
 }

 .press-cards .cards .cards-info-label, .cards-info-value {
    display: flex;
 }

 .press-cards .cards .cards-info-label {
    flex: 0 0 auto;
    flex-wrap: nowrap;
    margin-right: var(--spacing-horizontal-xxs)
 }

 .press-cards .cards a.button.primary {
    padding-bottom: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
 }

 .press-cards a.button.primary::after {
    width: 6rem;
 }

 .press-cards .download-item-icon {
     padding-left: 0.19rem;
     width: 1.5rem;
     height: 1.5rem;
     color: var(--button-tertiary-text-default);
     transition: all ease-in-out .3s;
 }

@media (min-width: 48rem) {
    .press-cards .cards > ul > li {
        width: 15rem;
    }

    .press-cards .cards > ul > li > .cards-card-image {
        flex: 0 0 auto;
        display: inline-block;
        height: auto;
        align-items: flex-end;
        min-height: 20rem;
        box-shadow: var(--elevation-highlight);
    }

    .press-cards .cards > ul > li > .cards-card-image > picture {
        display: block;
        width: 100%;
    }

    .press-cards .cards > ul > li > .cards-card-body {
        flex: 1 0 auto;
        align-self: stretch;
    }

    .press-cards .cards > ul > li > .cards-card-body h3, .press-cards .cards > ul > li > .cards-card-body h4 {
        flex: 1 0 auto;
        display: flex;
        align-self: stretch;
    }
}


