.collapse-container {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

@media (min-width: 64rem) {
  .collapse-container {
    width: calc((100vw + 1.25rem) * 2/3);
  }
}

@media (min-width: 80rem) {
  .collapse-container {
    width: calc((100vw + 3.25rem) * 2/3);
  }
}

@media (min-width: 90rem) {
  .collapse-container {
    width: calc((100vw + 5.25rem) * 2/3);
  }
}

.collapse > div:nth-child(1) {
  margin-bottom: var(--spacing-vertical-s);
  text-align: left;
  color: var(--headline-color);
  font-size: 1.75rem;
  font-family: var(--font-family-frutiger);
  font-weight: 700;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: 0.01em;
}

.collapse > div:nth-child(2) {
  height: calc(var(--spacing-vertical-xxl) + 3rem);
  min-height: calc(var(--spacing-vertical-xxl) + 3rem);
  font-family: var(--font-family-frutiger);
  transition: height 0.5s ease-out;
  overflow: hidden;
  position: relative;
  letter-spacing: 0.005em;
}

.expanded-text .collapse > div:nth-child(2) {
  max-height: none;
}

.collapsed-text .collapse > div:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--spacing-vertical-xxl);
  opacity: 1;
  transition: opacity .2s ease-in-out;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%), var(--bg-color-primary) 60%);
}

a {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-size: 1rem;
  color: var(--button-tertiary-text-default);
  position: relative;
  text-decoration: none;
}

 p.button-container {
   margin-top: var(--spacing-vertical-s);
 }

.expanded-text .collapse > div:nth-child(2)::after {
  opacity: 0;
  pointer-events: none
}

.expanded-text .collapse > div:nth-child(4) {
  margin-top: var(--spacing-vertical-m);
}

.collapsed-text .collapse > div:nth-child(3), .expanded-text .collapse > div:nth-child(4) {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-size: 1rem;
  color: var(--button-tertiary-text-default);
  cursor: pointer;
  display: inline-flex;
  position: relative;
  margin-bottom: var(--spacing-vertical-m);
  vertical-align: baseline;
}

.expanded-text .collapse > div:nth-child(3), .collapsed-text .collapse > div:nth-child(4) {
  display:none;
}

.collapse > div:nth-child(3)::after, .collapse > div:nth-child(4)::after, a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--button-tertiary-text-default);
  transform-origin: bottom left;
  transition: all ease-in-out .3s;
  font-weight: 500;
}

.collapse > div:nth-child(3):hover::after, .collapse > div:nth-child(4):hover::after, a:hover::after {
  transform: scaleX(1);
}

main .block.collapse .arrow {
  border: solid var(--button-tertiary-text-default);
  border-width: 0 2px 2px 0;
  display: inline-block;
  cursor: pointer;
  width: 9px;
  height: 9px;
  margin-left: 10px;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  margin-bottom: 3px;
}
