.section {
  display: block;
  flex-direction: column;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  margin-top: var(--spacing-vertical-xxl);
  margin-bottom: var(--spacing-vertical-xxl);
  max-width: 102rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

.collapse > div:nth-child(1) {
  margin-bottom: var(--spacing-vertical-s);
  text-align: left;
  color: var(--headline-color);
  font-size: 1.75rem;
  font-family: var(--font-family-frutiger);
  font-weight: 700;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: 0.01em;
}

.collapse > div:nth-child(2) {
  height: calc(var(--spacing-vertical-xxl) + 3rem);
  min-height: calc(var(--spacing-vertical-xxl) + 3rem);
  padding-bottom: var(--spacing-vertical-m);
  font-family: var(--font-family-frutiger);
  transition: height 0.5s ease-out;
  overflow: hidden;
  position: relative;
}

.expanded-text .collapse > div:nth-child(2) {
  max-height: none;
}

.collapsed-text .collapse > div:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--spacing-vertical-xxl);
  opacity: 1;
  transition: opacity .2s ease-in-out;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%), var(--bg-color-primary) 60%);
}

.expanded-text .collapse > div:nth-child(2)::after {
  opacity: 0;
  pointer-events: none
}

.collapsed-text .collapse > div:nth-child(3), .expanded-text .collapse > div:nth-child(4) {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-size: 1rem;
  color: var(--button-tertiary-text-default);
  padding-bottom: var(--spacing-vertical-m);
  cursor: pointer;
  display: inline-flex;
  position: relative;
  margin-bottom: var(--spacing-vertical-s);
  vertical-align: baseline;
}

.expanded-text .collapse > div:nth-child(3), .collapsed-text .collapse > div:nth-child(4) {
  display:none;
}

.collapse > div:nth-child(3)::after, .collapse > div:nth-child(4)::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--button-tertiary-text-default);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  font-weight: 500;
}

.collapse > div:nth-child(3):hover::after, .collapse > div:nth-child(4):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.arrow {
  border: solid var(--button-tertiary-text-default);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-left: 7px;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}
